.homepage {
  width: 100%;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: linear-gradient(252.82deg, #234271 11.79%, #131313 49.38%);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 4.375rem 5.312rem 11.25rem;
  gap: 11.812rem;
  line-height: normal;
  letter-spacing: normal;
}
.cyber-fit {
  margin: 0;
  position: relative;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 800;
  font-family: inherit;
  text-shadow: 10px 4px 4px rgba(255, 255, 255, 0.25);
}

.frame-group {
  display: flex;
  align-items: center; /* Center the items vertically */
  justify-content: center; /* Center the items horizontally */
  gap: 2rem; /* Adjust gap between Giphy and text */
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  padding: 6%;
}

.giphy-section {
  flex: 1; /* Allow Giphy section to take available space */
  display: flex;
  justify-content: center; /* Center Giphy horizontally */
}

.giphy-section img{
  border-radius: 35%;
}

.right-section {
  flex: 2; /* Make right section wider */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text to the start */
}
.text-section h3{
  font-size: 1.5rem;
}
.text-section p{
  font-size: 1.1rem;
}
.level-and-animation {
  display: flex;
  align-items: center; /* Center items vertically */
  margin-bottom: 1rem; /* Add space below */
}
.level-and-animation img{
  max-width: 45%;
  max-height: 45%;
}

.homepage,
.homepage-child {
  box-sizing: border-box;
  display: flex;
}
.homepage-child {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-lg) 0 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1425px) {
  .frame-group {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: var(--gap-46xl);
  }
  .giphy-2-1-parent {
    flex-wrap: wrap;
  }
  .cyberfit-cyber-challenges-to-frame,
  .frame-parent2 {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .frame-container {
    gap: 4.813rem;
  }
  .frame-parent3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1200px) {
  .frame-parent2 {
    min-width: 100%;
  }
}
@media screen and (max-width: 825px) {
  .cyber-fit {
    font-size: var(--font-size-32xl);
  }
  .level-1 {
    font-size: var(--font-size-10xl);
  }
  .frame-group {
    gap: 1.75rem;
  }
  .frame-parent {
    gap: var(--gap-14xl);
  }
  .level-2 {
    font-size: var(--font-size-10xl);
  }
  .giphy-2-1-parent {
    gap: var(--gap-14xl);
  }
  .cyberfit-cyber-challenges-to-frame {
    min-width: 100%;
  }
  .level-3 {
    font-size: var(--font-size-10xl);
  }
  .frame-parent2 {
    flex-wrap: wrap;
    gap: var(--gap-14xl);
  }
  .frame-container {
    gap: 2.438rem;
  }
  .level-4 {
    font-size: var(--font-size-10xl);
  }
  .frame-parent3 {
    gap: var(--gap-16xl);
  }
  .homepage {
    gap: 5.875rem;
    padding-left: var(--padding-23xl);
    padding-right: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1450px) {
  .cyber-fit {
    font-size: var(--font-size-19xl);
  }
  .cyberfit-cyber-container {
    font-size: var(--font-size-lgi);
  }
  .level-1 {
    font-size: var(--font-size-3xl);
  }
  .frame-parent {
    gap: var(--gap-base);
  }
  .level-2 {
    font-size: var(--font-size-3xl);
  }
  .cyberfit-cyber-container1 {
    font-size: var(--font-size-lgi);
  }
  .giphy-2-1-parent {
    gap: var(--gap-mid);
  }
  .cyberfit-cyber-container2 {
    font-size: var(--font-size-lgi);
  }
  .level-3 {
    font-size: var(--font-size-3xl);
  }
  .frame-parent2 {
    gap: var(--gap-mid);
  }
  .frame-container {
    gap: 1.188rem;
  }
  .level-4 {
    font-size: var(--font-size-3xl);
  }
  .cyberfit-cyber-container3 {
    font-size: var(--font-size-lgi);
  }
  .frame-parent3 {
    gap: var(--gap-mid);
  }
  .homepage {
    gap: 2.938rem;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .cyberfit-cyber-container {
    font-size: var(--font-size-lgi); /* Smaller font size */
  }
}
@media screen and (max-width: 825px) {
  .cyberfit-cyber-container1{
    font-size: var(--font-size-lgi); /* Smaller font size */
  }
 
}
@media screen and (max-width: 825px) {
  .cyberfit-cyber-container2 {
    font-size: var(--font-size-lgi); /* Smaller font size */
  }
}
@media screen and (max-width: 825px) {
  .cyberfit-cyber-container3 {
    font-size: var(--font-size-lgi); /* Smaller font size */
  }
}


.kids-icon {

  position: fixed;
  top:  120px;
  left:  30px;
  width: 45px; /* Adjust size as needed */
  height:  45px; /* Adjust size as needed */
  cursor:  pointer;
  z-index:  1000; /* Ensure it is on top of other elements */

}

.multiplayer-icon {

  position:  fixed;
  top:  50px;
  left:  30px;
  width:  45px; /* Adjust size as needed */
  height:  45px; /* Adjust size as needed */
  cursor:  pointer;
  z-index:  1000; /* Ensure it is on top of other elements */

}

.reward-icon {

  position:  fixed;
  top:  200px;
  left:  30px;
  width:  40px; /* Adjust size as needed */
  height:  40px; /* Adjust size as needed */
  cursor:  pointer;
  z-index:  1000; /* Ensure it is on top of other elements */

}

.video-icon {

  position:  fixed;
  top:  270px;
  left:  30px;
  width:  40px; /* Adjust size as needed */
  height:  40px; /* Adjust size as needed */
  cursor: pointer;
  z-index:  1000; /* Ensure it is on top of other elements */

}

.music-icon {

  position:  fixed;
  top:  50px;
  right:  20px;
  width:  35px; /* Adjust size as needed */
  height:  35px; /* Adjust size as needed */
  cursor:  pointer;
  z-index:  1000; /* Ensure it is on top of other elements */
  padding: 5px;
  border-radius: 41%; 
  background-image: linear-gradient(90deg, rgb(84, 84, 84) ,  rgb(84, 84, 84));
}

.music-icon:hover {
  opacity: 0.7; /* Change opacity on hover for better UX */
  /* background-color: lightgrey; */
}

  /* Keyframes for moving the music icon */
  @keyframes moveIcon {
    0% { transform: translate(0, 0); }
    25% { transform: translate(20px, 20px); }
    50% { transform: translate(0, 40px); }
    75% { transform: translate(-20px, 20px); }
    100% { transform: translate(0, 0); }
  }

.scroll_top {
  position: fixed;
  right: 90px;
  bottom: 20px;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  /* Define a fixed size for the button */
  height: 50px;
  /* Ensure it's square */
  overflow: hidden;
  /* Ensure the image doesn't overflow */
  display: flex;
  justify-content: center;
  align-items: center;
}

#to_top {
  width: 100%;
  /* Make the image take full width of the button */
  height: 100%;
  /* Ensure it covers the full height */
  object-fit: cover;
  /* Ensures the image scales while maintaining aspect ratio */
  border-radius: 50%;
}

  body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h3, p {
    font-family: 'Poppins', sans-serif;
  }
  
